@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, san-serif;
	font-size: 13px;
	color: #000000;
	background-color: #FFFFFF;
	width: 900px;
	border-right-style: none;
	border-left-style: none;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
	text-align: left;
}
a {
	color: #990000;
	text-decoration: none;
}
a:hover {
	color: #000066;
	text-decoration: underline;
}
#header {
	font-size: 50px;
	color:#000;
	background-image: url(image/header.jpg);
	padding: 20px;
	float: center;
	height: 180px;
	width: 1310px;
	color: #000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}

#navigasi {
	font-family: "MS Serif", "New York", serif;
	background-color: #FFC;
}
